.bannerImg{
    height: 400px;
    object-fit: cover;
    width: 100%;
}
.menubar{
    background-color: #007bff;
    
}
.bg-primary{
    background-color: #01144d !important;
}
 .logo{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-top: 9px;

}
.logo i {
    margin-right: 10px;
}

.menubar ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-left: auto;
    float: right;
    padding:0px;
}

.menubar ul li a{
    color: #fff;
    padding:14px 15px;
    display: block;
    text-decoration: none;
}
.menubar ul li button{
    height: 30px;
    margin-top: 11px;
}
.menubar ul li .username{
    position: relative;
    margin: 0 10px;
    text-transform: capitalize;
    color: #fff;
    display: flex;
    background: #ffc107;
    align-items: center;
    padding: 0 12px;
}
/* .active{
    background: royalblue;
} */
.tabs .tab-content{
padding: 10px;
border: 1px solid #d3d3d3;
border-top: navajowhite;
max-height: 425px;
overflow-y: auto;
overflow-x: hidden;
}
.tabs .nav-tabs{ 
    background: #01144d;
    border-radius: 5px 5px 0 0px;
}
.tabs .nav-tabs .nav-link{
 color: #fff;
}
.tabs .nav-tabs .nav-link.active{
    color: #01144d;
   }
.article-title:before {
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#000000", GradientType=0);
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -ms-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -ms-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: -1;
        height: 100%;
}
.carousel-control-next, .carousel-control-prev{
    display: none;
}
.carousel-caption{
    bottom: 0px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    left: 0;
}

.carousel-indicators {
    right: 26px;
    bottom: 10px;
    left: initial;
    margin: 0px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
.match-title{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.divider-bottom{
    border-bottom: 1px solid #d3d3d3;
}
.match-title .card-title{
    font-size: 14px;
    margin-bottom: 0;
    display: block;
}
.match-date{
    font-size: 12px;
    font-weight: bold;
}
.img-scale{
    overflow: hidden;
}
.img-scale img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.player-card img.img-fluid{    
    border-radius: 100px;
border: 3px solid #01144d;
height: 150px;
width: 150px;
box-sizing: border-box;
}

table thead tr{
        background: #01144d;
}
table thead tr th{
    color: #fff;
}
.team-flag{
    width: 40px;
    height:40px;
    border: 1px solid #382b2b;
    border-radius: 50px;
    margin-right: 10px;
    padding: 3px;
}